<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        {% block contend %}
        {% endblock %}
    </div>

    <div class="about-container">
        {% block about-contend %}
        {% endblock %}
    </div>

    <script>
        document.getElementById('jobForm').addEventListener('submit', function(e) {


        });
    </script>
</body>
</html>